{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!<br>
      Weak Password? <a class="ml-2" href="{% url 'change_password' %}  ">Change </a><br>
  <a href="{% url 'logout' %}">logout</a>
  
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}